.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #f4f4f9;
}

.main-content {
  margin-left: 270px; /* For the sidebar offset */
  padding: 20px;
  flex-grow: 1;
  background-color: #ffffff;
}

h2 {
  color: #292c35;
}

.section {
  margin-bottom: 20px;
}
